__pycache__/
.direnv/*
.envrc
.hypothesis/
.uv-cache/
.xdg/*
coverage/
.nyc_output/
*.pyc
artifacts/
data/*.duckdb
data/Finances_2.0/
src/dojo.egg-info/
cypress/downloads
cypress/screenshots
src/dojo/frontend/static/dist
node_modules/
npm-debug.log*
*.log
