name: CI/CD

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Run tests
        run: nix develop . --command pytest

  build-and-push:
    needs: test
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      
      - name: Build image
        run: nix build .#docker
        
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Load and push image
        run: |
          docker load < result
          
          # Determine tags
          IMAGE_ID=ghcr.io/${{ github.repository }}
          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          
          VERSION=edge
          if [[ "${{ github.ref }}" == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          fi
          
          echo "IMAGE_ID=$IMAGE_ID"
          echo "VERSION=$VERSION"
          
          docker tag dojo:latest $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
          
          if [[ "${{ github.ref }}" == refs/tags/* ]]; then
            docker tag dojo:latest $IMAGE_ID:latest
            docker push $IMAGE_ID:latest
          fi
